import('methods')
import('ggplot2')
import('rJava')
import('zoo')
importFrom("stats", "complete.cases")
importFrom("utils", "data")
importFrom("grid", "grid.newpage")
importFrom("grid", "pushViewport")
importFrom("grid", "grid.layout")
importFrom("grid", "viewport")


export(util_setCredentials)
export(util_cleanCredentials)
export(util_plot2d)
export(util_plot2df)
export(util_line2d)
export(util_ggplot)
export(util_plotDensity)
export(util_plotTheme)
export(util_multiplot)
export(util_POSIXTimeToDate)
export(util_dateToPOSIXTime)
export(util_colorScheme)
export(util_fillScheme)
export(util_getComputeTime)

export(forecast_builder)
export(forecast_input)
export(forecast_apply)

exportClasses(forecast)
exportClasses(portfolio)
exportClasses(position)
exportClasses(optimizer)
exportClasses(portfolioPlot)
exportClasses(metric)
exportMethods(show,plot)

exportMethods(value)
exportMethods(expected_shortfall)
exportMethods(value_at_risk)
exportMethods(alpha_exante)
exportMethods(beta)
exportMethods(calmar_ratio)
exportMethods(cumulant)
exportMethods(down_capture_ratio)
exportMethods(down_number_ratio)
exportMethods(down_percentage_ratio)
exportMethods(downside_variance)
exportMethods(expected_downside_return)
exportMethods(expected_return)
exportMethods(expected_upside_return)
exportMethods(fractal_dimension)
exportMethods(gain_loss_variance_ratio)
exportMethods(gain_variance)
exportMethods(hurst_exponent)
exportMethods(information_ratio)
exportMethods(alpha_jensens)
exportMethods(kurtosis)
exportMethods(loss_variance)
exportMethods(max_drawdown)
exportMethods(mod_sharpe_ratio)
exportMethods(moment)
exportMethods(omega_ratio)
exportMethods(dist_density)
exportMethods(price)
exportMethods(profit)
exportMethods(quantity)
exportMethods(rachev_ratio)
exportMethods(return_autocovariance)
exportMethods(return_jump_size)
exportMethods(log_return)
exportMethods(sharpe_ratio)
exportMethods(skewness)
exportMethods(sortino_ratio)
exportMethods(starr_ratio)
exportMethods(treynor_ratio)
exportMethods(txn_costs)
exportMethods(up_capture_ratio)
exportMethods(up_number_ratio)
exportMethods(up_percentage_ratio)
exportMethods(upside_downside_variance_ratio)
exportMethods(upside_variance)
exportMethods(value)
exportMethods(variance)
exportMethods(weight)
exportMethods(correlation)
exportMethods(covariance)

export(create_metric)
export(compute)
export(portfolio_availableSymbols)
export(portfolio_getSettings)
export(portfolio_defaultSettings)
export(position_add)
export(portfolio_create)
export(portfolio_settings)
export(position_remove)
export(position_list)
export(portfolio_getPosition)

export(set_quantity)

export(optimization_goal)
export(optimization_constraint)
export(optimization_run)
export(optimization_info)
export(optimization_forecast)
export(weight_transform)
